.controller-wrapper {
    display: none;
    position: fixed;
    color: #fff;
    z-index: 5;
    /* In case of performance issue triggered by bad Hardware acceleration.
    Ref: http://web.jobbole.com/83575*/
}

.controller-wrapper-right {
    bottom: 35%;
    right: 5%;
}

.controller-wrapper-left {
    bottom: 40%;
    left: 5%;
}

.controller-wrapper-bottom {
    bottom: 20%;
    left: 50%;
    transform: translateX(-50%);
}

.controller {
    background-color: rgba(0,0,0,.5);
    margin: 0 10px;
    font-size: 18px;
    text-align: center;
    line-height: 1;
    -webkit-tap-highlight-color:rgba(0,0,0,0);
}

.controller:active {
    background-color: rgba(135,135,135,.4);
}

.controller:active.triangle-right:after {
    left: -6px;
}
.controller:active.triangle-left:after {
    right: -6px;
}

.triangle {
    width: 40px;
    height: 40px;
    position: relative;
    border-right: 2px solid #fff;
}

.triangle:active {
    background-color: rgba(0,0,0,.5);
}

.triangle:after {
    content: '';
    position: absolute;
    margin: auto;
    top: 4px;
    width: 30px;
    height: 30px;
    border-right: 2px solid #fff;
    border-bottom: 2px solid #fff;
}

.triangle-left:after {
    right: -17px;
    transform: rotate(135deg);
    transition: right linear .2s;
}

.triangle-right {
    border-right: none;
    border-left: 2px solid #fff;
}

.triangle-right:after {
    left: -16px;
    transform: rotate(-45deg);
    transition: left linear .2s;
}

.controller-circle {
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    border: 2px solid #fff;
    border-radius: 50%;
}

.controller-circle-large {
    width: 40px;
    height: 40px;
    font-size: 24px;
    line-height: 40px;
}

.controller-btn {
    width: 70px;
    height: 16px;
    border-radius: 10px;
    font-size: 12px;
    line-height: 16px;
    border: 2px solid #fff;
    transform: rotate(-25deg);
}


/* iPad Pro : 1366*1024*/
@media (max-width: 1367px) {
    .controller-wrapper {
        display: flex;
        align-items: center;
    }
}

/* iPhone se : 320*568*/
@media (max-width: 320px) {
    .controller-wrapper-right {
        bottom: 30%;
        right: 5%;
    }

    .controller-wrapper-left {
        bottom: 35%;
        left: 0;
    }
}
