.controller-wrapper {
    display: none;
    position: fixed;
    color: #fff;
    background-color: rgba(0,0,0,.5);
}

.controller-wrapper-right {
    bottom: 10%;
    right: 5%;
}

.controller-wrapper-left {
    bottom: 25%;
    left: 5%;
}

.controller-wrapper .controller {
    margin: 0 10px;
    font-size: 18px;
    text-align: center;
    line-height: 1;
    -webkit-touch-callout:none;
    -webkit-user-select:none;
    -khtml-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    -webkit-tap-highlight-color:rgba(0,0,0,0);
}

.triangle {
    width: 40px;
    height: 40px;
    position: relative;
    border-right: 2px solid #fff;
}

.triangle:after {
    content: '';
    position: absolute;
    margin: auto;
    top: 4px;
    width: 30px;
    height: 30px;
    border-right: 2px solid #fff;
    border-bottom: 2px solid #fff;
}

.triangle-left:after {
    right: -17px;
    transform: rotate(135deg);
}

.triangle-right {
    border-right: none;
    border-left: 2px solid #fff;
}

.triangle-right:after {
    left: -16px;
    transform: rotate(-45deg);
}

.controller-circle {
    width: 20px;
    height: 20px;
    border: 2px solid #ffa;
    border-radius: 50%;
}


/* iPad Pro : 1366*1024*/
@media (max-width: 1367px) {
    .controller-wrapper {
        display: flex;
        align-items: center;
    }
}

/* iPhone se : 320*568*/
@media (max-width: 320px) {
    .controller-wrapper-right {
        bottom: 8%;
        right: 5%;
    }

    .controller-wrapper-left {
        bottom: 25%;
        left: 5%;
    }
}
