@import './controller.css';
@import './github-btn.css';

body {
    color: #fff;
    background-color: black;
    margin: 0;
}

a {
    color: #24292e;
    text-decoration: none;
    outline: none;
    vertical-align: middle;
}

a:active {
    color: #000;
}

#screen {
    image-rendering: pixelated;
    /*The image-rendering CSS property provides a hint to the browser about the algorithm it should use to scale images.
    https://developer.mozilla.org/en-US/docs/Web/CSS/image-rendering

    Browser compatibility:
        Experimental
        chrome-41+,
        ff-NO,
        Mobile Safari-NO,
         Android-41+*/
    display: block;
    height:100vh;
    /*Support Good:
    Safari Mobile-6.0,
    Chrome-20,
    FF-19,
    IE-9.0*/
    margin:auto;
}

.github-btn-wrapper {
    position: fixed;
    top: 2%;
    right: 2%;
}

.github-btn-wrapper > iframe {
    display: block;
    margin-bottom: 6px;
}

/* iPad Pro : 768*1024*/
@media (max-width: 1024px) and (orientation:portrait) {
    #screen {
        width: 100%;
        height: auto;
    }

    .github-btn-wrapper {
        width: 100%;
        text-align: center;
        top: auto;
        right: auto;
        bottom: 2%;
    }

    .github-btn-wrapper > iframe {
        display: inline-block;
    }
}
@media (max-width: 1024px) and (orientation:landscape) {
    #screen {
        width: auto;
        height:100vh;
    }
}