
body {
    color: #fff;
    background-color: black;
    margin: 0;
}

#screen {
    image-rendering: pixelated;
    /*The image-rendering CSS property provides a hint to the browser about the algorithm it should use to scale images.
    https://developer.mozilla.org/en-US/docs/Web/CSS/image-rendering

    Browser compatibility:
        Experimental
        chrome-41+,
        ff-NO,
        Mobile Safari-NO,
         Android-41+*/
    display: block;
    height:100vh;
    /*Support Good:
    Safari Mobile-6.0,
    Chrome-20,
    FF-19,
    IE-9.0*/
    margin:auto;
}

.btn {
    outline: none;
    cursor: pointer;
    color: #333;
    background-color: rgba(255,255,255,.8);
    border: 1px solid #ccc;
}

.btn-circle-middle {
    width: 48px;
    height: 48px;
    line-height:48px;
    border-radius: 50%;
}

/*#mute-btn {*/
    /*position: fixed;*/
    /*top: 2%;*/
    /*right: 5%;*/
    /*!*background-color: rgba(113,113,113,.5);*!*/
/*}*/

/*#mute-btn:hover {*/
    /*background-color: #e6e6e6;*/
    /*border-color: #adadad;*/
/*}*/

/*#mute-btn:active {*/
    /*background-color: #e6e6e6;*/
    /*border-color: #adadad;*/
    /*outline: 0;*/
    /*-webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,.125);*/
    /*box-shadow: inset 0 3px 5px rgba(0,0,0,.1);*/
/*}*/

@media (max-width: 1024px) and (min-width: 256px) {
    #screen {
        width: 100%;
        height:auto;
    }
}