
body {
    color: #fff;
    background-color: black;
    margin: 0;
}

#screen {
    image-rendering: pixelated;
    /*The image-rendering CSS property provides a hint to the browser about the algorithm it should use to scale images.
    https://developer.mozilla.org/en-US/docs/Web/CSS/image-rendering

    Browser compatibility:
        Experimental
        chrome-41+,
        ff-NO,
        Mobile Safari-NO,
         Android-41+*/
    display: block;
    height:100vh;
    /*Support Good:
    Safari Mobile-6.0,
    Chrome-20,
    FF-19,
    IE-9.0*/
    margin:auto;
}

@media (max-width: 1024px) and (min-width: 256px) {
    #screen {
        width: 100%;
        height:auto;
    }
}